.faq-view {
    max-width     : 1156px;
    margin        : auto;
    display       : flex;
    flex-direction: column;

    >header {
        h1 {
            font-size    : 32px;
            line-height  : 32px;
            margin-top   : 60px;
            margin-bottom: 30px;
        }
    }

    >section {
        >.collapsible {
            color        : white;
            cursor       : pointer;
            background   : #131313;
            padding      : 24px 0px;
            width        : 100%;
            text-align   : left;
            font-family  : Dunggeunmo;
            font-size    : 20px;
            line-height  : 20px;
            border-top   : 1px solid #2C2C2C;
            border-bottom: 1px solid #2C2C2C;
        }

        >.active,
        .collapsible:hover {
            color: #E73C83;
        }

        >.content {
            padding         : 30px 20px;
            // display      : none;
            // overflow  : hidden;
            background      : #1F1F1F;
            border          : 1px solid #2C2C2C;
            box-sizing      : border-box;
        }
    }
}