.language-select {
    color      : #BFC500;
    font-family: DungGeunMo;

    >select {
        color           : #BFC500;
        font-family     : DungGeunMo;
        background-color: #000000;
        border          : none;
    }
}