@font-face {
    font-family: "BankGothic";
    src        : url("../fonts/bankgothic.woff2") format("woff2"),
        url("../fonts/bankgothic.woff") format("woff");
}

@font-face {
    font-family: "DungGeunMo";
    src        : url("../fonts/neodgm.woff2") format("woff2"),
        url("../fonts/neodgm.woff") format("woff");
}