@import "base.less";
@import "font.less";

body {
    font-family     : NeoDunggeunmo;
    background-color: rgba(19, 19, 19, 1);
    color           : #FFFFFF;
    line-height     : 24px;
}

/** mate */

// component
@import "view/mate/component/dialogue/alert.less";
@import "view/mate/component/dialogue/confirm.less";
@import "view/mate/component/menu/pc-menu.less";
@import "view/mate/component/menu/mobile-menu.less";
@import "view/mate/component/collapsible-filter.less";
@import "view/mate/component/collapsible-item.less";
@import "view/mate/component/collapsible-select.less";
@import "view/mate/component/mate-list.less";
@import "view/mate/component/mate-message-list.less";
@import "view/mate/component/dogesounds-rank-list.less";


// view
@import "view/mate/view/layout.less";
@import "view/mate/view/home.less";
@import "view/mate/view/activities.less";
@import "view/mate/view/gallery.less";

@import "view/mate/view/mate/follow-me.less";
@import "view/mate/view/mate/buy-mate.less";
@import "view/mate/view/mate/mates.less";
@import "view/mate/view/mate/mates-detail.less";
@import "view/mate/view/mate/my-mate.less";
@import "view/mate/view/dsc-family/dsc-family.less";
@import "view/mate/view/dsc-family/create-dsc-family.less";

@import "view/mate/view/governance/governance.less";
@import "view/mate/view/governance/create-governance.less";
@import "view/mate/view/governance/governance-detail.less";

@import "view/mate/view/contest/contest.less";

@import "view/mate/view/fully-on.less";
@import "view/mate/view/terms.less";
@import "view/mate/view/faq.less";
@import "view/mate/view/member.less";

/** e-mate */

/** bmcs */

// component
@import "view/bmcs/component/alert.less";
@import "view/bmcs/component/collapsible-item.less";
@import "view/bmcs/component/collapsible-filter.less";
@import "view/bmcs/component/minting-popup.less";
@import "view/bmcs/component/mobile-menu.less";
@import "view/bmcs/component/pc-menu.less";

// view
@import "view/bmcs/view/bmcs-layout.less";
@import "view/bmcs/view/home.less";
@import "view/bmcs/view/cycle-of-craft.less";
@import "view/bmcs/view/gallery.less";

/** shared */
@import "view/shared/popup.less";
@import "view/shared/connectwalletpopup.less";
@import "view/shared/klipqrpopup.less";
@import "view/shared/language-select.less";