@import "base.less";
@import "font.less";

body {
    font-family     : DungGeunMo;
    background-color: rgba(19, 19, 19, 1);
    color           : #FFFFFF;
    line-height     : 1.5em;
}

// ui
@import "ui/menu/pc-menu.less";
@import "ui/menu/mobile-menu.less";
@import "ui/menu/language-select.less";

// view
@import "view/layout.less";
@import "view/home.less";
@import "view/gallery.less";
@import "view/follow-me.less";
@import "view/holder.less";
@import "view/buy-mate.less";
@import "view/my-mate.less";
@import "view/activities.less";
@import "view/dsc-family.less";