/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@font-face {
  font-family: "BankGothic";
  src: url("../fonts/bankgothic.woff2") format("woff2"), url("../fonts/bankgothic.woff") format("woff");
}
@font-face {
  font-family: "DungGeunMo";
  src: url("../fonts/neodgm.woff2") format("woff2"), url("../fonts/neodgm.woff") format("woff");
}
body {
  font-family: DungGeunMo;
  background-color: #131313;
  color: #FFFFFF;
  line-height: 1.5em;
}
.popup-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;
}
.dialogue.alert {
  position: relative;
  max-width: 360px;
  width: 100%;
  margin: auto;
  background: #131313;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 10px;
}
.dialogue.alert > p {
  padding: 50px;
  font-size: 16px;
  line-height: 24px;
}
.dialogue.alert > .button-container > button {
  font-family: DungGeunMo;
  width: 100%;
  color: white;
  padding: 16px 0px;
  font-size: 16px;
  line-height: 16px;
  background: #E73C83;
  border-radius: 0px 0px 10px 10px;
}
.dialogue.alert > .button-container > button:hover {
  background-color: white;
  color: #E73C83;
}
.dialogue.confirm {
  position: relative;
  max-width: 360px;
  width: 100%;
  margin: auto;
  background: #131313;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 10px;
}
.dialogue.confirm > p {
  padding: 50px;
  font-size: 16px;
  line-height: 24px;
}
.dialogue.confirm > .button-container {
  display: flex;
}
.dialogue.confirm > .button-container > .cancel {
  font-family: DungGeunMo;
  width: 100%;
  color: white;
  padding: 16px 0px;
  font-size: 16px;
  line-height: 16px;
  background: #E73C83;
  border-radius: 0px 0px 0px 10px;
}
.dialogue.confirm > .button-container > .cancel:hover {
  background-color: white;
  color: #E73C83;
}
.dialogue.confirm > .button-container > .confirm {
  font-family: DungGeunMo;
  width: 100%;
  color: white;
  padding: 16px 0px;
  font-size: 16px;
  line-height: 16px;
  background: #E73C83;
  border-radius: 0px 0px 10px 0px;
}
.dialogue.confirm > .button-container > .confirm:hover {
  background-color: white;
  color: #E73C83;
}
.mate-list > .mate-line {
  display: flex;
  justify-content: center;
}
.mate-list > .mate-line > .mate-item {
  position: relative;
  width: 90px;
  height: 90px;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 20px;
  line-height: 1em;
}
.mate-list > .mate-line > .mate-item > .id {
  position: absolute;
  left: 3px;
  bottom: 0;
  font-family: DungGeunMo;
}
.mate-list > .mate-line > .mate-item > .name {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  font-family: DungGeunMo;
  color: #FF00F6;
  text-shadow: 3px 3px 3px #656565;
}
.mate-list > .mate-line > .mate-item > .score {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: right;
  font-family: DungGeunMo;
  color: #006400;
}
.mate-list > .mate-line > .mate-item > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
}
@media only screen and (max-width: 799px) {
  .mate-list > .mate-line > .mate-item {
    width: 64px;
    height: 64px;
    font-size: 14px;
  }
}
.mate-list > .mate-line > .mate-item.off {
  opacity: 0.5;
}
.pc-menu {
  position: absolute;
  top: 0;
  left: calc(50% - 360px);
  z-index: 3;
  width: 720px;
}
.pc-menu > ul {
  display: flex;
  justify-content: center;
}
.pc-menu > ul > li > a {
  display: block;
  padding: 20px 20px;
  text-align: center;
  color: white;
  font-size: 20px;
}
.pc-menu > ul > li > a:hover {
  color: #E73C83;
}
.pc-menu > ul > li > a:active {
  color: #E73C83;
}
.pc-menu > .language-select {
  font-size: 18px;
}
.pc-menu > .language-select > select {
  font-size: 18px;
}
.mobile-menu {
  position: fixed;
  width: 170px;
  background-color: #000000;
  border: 1px solid #A1A1A1;
}
.mobile-menu > ul {
  padding: 10px;
}
.mobile-menu > ul > li > a {
  display: block;
  padding: 5px;
  color: #06BC00;
  font-size: 18px;
}
.mobile-menu > ul > li > ul {
  margin-left: 10px;
}
.mobile-menu > ul > li > ul > li > a {
  display: block;
  padding: 5px;
  color: #BFC500;
}
.mobile-menu > ul > li > ul > li.parent {
  display: none;
}
.mobile-menu > .language-select {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid #A1A1A1;
}
.language-select {
  color: #BFC500;
  font-family: DungGeunMo;
}
.language-select > select {
  color: #BFC500;
  font-family: DungGeunMo;
  background-color: #000000;
  border: none;
}
.layout > header {
  max-width: 1156px;
  margin: auto;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 719px) {
  .layout > header > .pc-menu {
    display: none;
  }
}
.layout > footer {
  margin-top: 60px;
}
.layout > footer > .sidebar {
  background-color: #222222;
}
.layout > footer > .sidebar > .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1156px;
  margin: auto;
}
.layout > footer > .sidebar > .content > .term {
  display: flex;
  align-items: center;
  height: 44px;
}
.layout > footer > .sidebar > .content > .term > a {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}
.layout > footer > .sidebar > .content > .term > span {
  color: #474747;
  margin: 10px 10px;
}
.layout > footer > .sidebar > .content > .social {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
}
.layout > footer > .sidebar > .content > .social > a {
  display: flex;
  align-items: center;
  height: 44px;
  margin: 0px 10px;
}
.layout > footer > .provider {
  display: flex;
  flex-direction: column;
  max-width: 1156px;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 30px;
}
.layout > footer > .provider > img {
  width: 70px;
  height: 60px;
}
.layout > footer > .provider > p {
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  margin-top: 20px;
  color: #838383;
}
.home-view {
  font-family: DungGeunMo;
}
.home-view > header {
  background-image: url("/images/view/home/club.png");
  height: 800px;
}
.home-view > header > .content {
  max-width: 1156px;
  margin: auto;
  padding-top: 355px;
}
.home-view > header > .content > .logo {
  width: 137px;
  height: 118px;
}
.home-view > header > .content > .intro {
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 60px;
  color: white;
  text-shadow: #E73C83 3px 3px;
}
.home-view > header > .content > .description {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  margin-top: 9px;
}
.home-view > header > .content > button {
  width: 200px;
  height: 52px;
  margin-top: 30px;
  background: #E73C83;
  border-radius: 8px;
  font-family: DungGeunMo;
  font-size: 24px;
  line-height: 24px;
  color: white;
}
.home-view > header > .content > button:hover {
  background-color: white;
  color: #E73C83;
  border-color: white;
}
.home-view > section {
  max-width: 1156px;
  margin: auto;
}
.home-view > section > .dogesound {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  background: #222222;
  border: 1px solid #3D3D3D;
  box-sizing: border-box;
  border-radius: 8px;
}
.home-view > section > .dogesound > .talker {
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 8px;
}
.home-view > section > .dogesound > .content {
  padding-right: 20px;
}
.home-view > section > .dogesound > .content > .title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}
.home-view > section > .dogesound > .content > .old-sound {
  margin-top: 16px;
  padding: 6px 10px 4px 10px;
  font-size: 16px;
  line-height: 16px;
  width: 310px;
  color: #676767;
  border: 1px solid #676767;
  box-sizing: border-box;
  border-radius: 4px;
}
.home-view > section > .dogesound > .content > .sound {
  margin-top: 16px;
  font-size: 20px;
  line-height: 20px;
  color: #E73C83;
}
.home-view > section > .dogesound > .content > .address {
  margin-top: 16px;
  font-size: 16px;
  line-height: 16px;
  text-decoration-line: underline;
  color: #FFFFFF;
}
.home-view > section > .dogesound > .content > .address:hover {
  color: #E73C83;
}
.home-view > section > .dogesound > .content > .warning {
  margin-top: 16px;
  font-size: 16px;
  line-height: 20px;
  color: #676767;
}
.home-view > section > hr {
  border: none;
  height: 1px;
  color: #2C2C2C;
  background-color: #2C2C2C;
  margin: 60px 0px;
}
.home-view > section > .feature > .title {
  font-size: 26px;
  line-height: 26px;
}
.home-view > section > .feature > .content {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.home-view > section > .feature > .content > .card {
  margin-right: 16px;
}
.home-view > section > .feature > .content > .card > img {
  width: 372px;
  height: 372px;
}
.home-view > section > .feature > .content > .card > .title {
  margin-top: 8px;
  font-size: 20px;
  line-height: 20px;
  color: #E73C83;
}
.home-view > section > .feature > .content > .card > .content {
  margin-top: 8px;
  font-size: 16px;
  line-height: 24px;
}
.home-view > section > .buy-mate > .card {
  display: flex;
  background: #E73C83;
  border-radius: 8px;
}
.home-view > section > .buy-mate > .card > .content {
  padding-top: 30px;
  padding-left: 30px;
}
.home-view > section > .buy-mate > .card > .content > .title {
  font-size: 24px;
  line-height: 24px;
}
.home-view > section > .buy-mate > .card > .content > .content {
  padding-top: 10px;
  font-size: 16px;
  line-height: 24px;
}
.home-view > section > .buy-mate > .card > .button-wrap {
  display: flex;
  flex-direction: column;
  padding: 15px 30px 30px 30px;
}
.home-view > section > .buy-mate > .card > .button-wrap > a {
  font-family: DungGeunMo;
  font-size: 24px;
  line-height: 24px;
  color: #E73C83;
  background: #131313;
  border-radius: 8px;
  padding: 15px 100px;
  margin-top: 15px;
  text-decoration: none;
}
.home-view > section > .buy-mate > .card > .button-wrap > a:hover {
  background-color: white;
  color: #E73C83;
  border-color: white;
}
.home-view > section > .buy-mate > .warning {
  margin-top: 12px;
  font-size: 16px;
  line-height: 20px;
  color: #676767;
}
.home-view > section > .nft > .title {
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 16px;
}
.home-view > section > .nft > section {
  display: grid;
}
.home-view > section > .nft > section > .mate-container {
  display: flex;
  grid-column: 1 / 3;
  flex-wrap: wrap;
}
.home-view > section > .nft > section > .mate-container > img {
  width: 176px;
  height: 176px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}
.home-view > section > .nft > section > article {
  padding: 20px;
  background: #222222;
  border: 1px solid #3D3D3D;
  box-sizing: border-box;
  border-radius: 8px;
  grid-column: 3 / 5;
  max-height: 372px;
}
.home-view > section > .nft > section > article > p {
  font-size: 16px;
  line-height: 20px;
}
.home-view > section > .nft > section > article > .caption {
  font-size: 16px;
  line-height: 16px;
  color: #676767;
}
.home-view > section > .nft > section > article > .button-container {
  display: flex;
  width: 100%;
  margin-top: 16px;
  gap: 10px;
}
.home-view > section > .nft > section > article > .button-container > button,
.home-view > section > .nft > section > article > .button-container > a {
  font-family: DungGeunMo;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  background-color: transparent;
  color: #E73C83;
  border: 1px solid #E73C83;
  box-sizing: border-box;
  border-radius: 8px;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  text-decoration: none;
}
.home-view > section > .nft > section > article > .button-container > button:hover,
.home-view > section > .nft > section > article > .button-container > a:hover {
  color: white;
  border: 1px solid white;
}
.home-view > section > .nft > section > article > button {
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  background-color: transparent;
  color: #E73C83;
  border: 1px solid #E73C83;
  box-sizing: border-box;
  border-radius: 8px;
  padding-top: 18px;
  padding-bottom: 18px;
}
.home-view > section > .nft > section > article > button:hover {
  color: white;
  border: 1px solid white;
}
.home-view > section > .nft > section > article > .image-wrap {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.home-view > section > .nft > section > article > .image-wrap > img {
  width: 54px;
  height: 46px;
}
.home-view > section > .nft > section > article > hr {
  border: none;
  height: 1px;
  color: #2C2C2C;
  background-color: #2C2C2C;
  margin-top: 20px 0px;
}
.home-view > section > .mission > .title {
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 8px;
}
.home-view > section > .mission > .content > .title {
  margin-top: 8px;
  font-size: 20px;
  line-height: 20px;
  color: #E73C83;
}
.home-view > section > .mission > .content > .content {
  margin-top: 8px;
  font-size: 16px;
  line-height: 24px;
}
.home-view > section > .team > .title {
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 8px;
}
.home-view > section > .team > .content {
  display: flex;
}
.home-view > section > .team > .content > .card {
  margin-right: 40px;
}
.home-view > section > .team > .content > .card > .title {
  margin-top: 8px;
  font-size: 20px;
  line-height: 20px;
  color: #E73C83;
}
.home-view > section > .team > .content > .card > .content {
  margin-top: 8px;
  font-size: 16px;
  line-height: 24px;
}
.home-view > section > .partnership > .title {
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 8px;
}
.home-view > section > .partnership > .content > .title {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 20px;
  color: #E73C83;
}
.home-view > section > .partnership > .content > .content {
  display: flex;
}
.home-view > section > .partnership > .content > .content > img {
  margin-right: 20px;
}
.home-view > section > .contact > .title {
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 16px;
}
.home-view > section > .contact > .content {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  gap: 20px;
}
.home-view > section > .contact > .content > .card {
  display: flex;
  background: #222222;
  border-radius: 8px;
  padding: 20px;
  align-items: center;
}
.home-view > section > .contact > .content > .card > img {
  padding-right: 14px;
}
.home-view > section > .contact > .content > .card > .content > .title {
  font-size: 18px;
  line-height: 18px;
}
.home-view > section > .contact > .content > .card > .content > .caption {
  font-size: 14px;
  line-height: 14px;
  color: #676767;
}
.home-view > section > .tweets > .title {
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 16px;
}
.gallery-view {
  max-width: 1156px;
  margin: auto;
  margin-top: 60px;
}
.gallery-view > header > h1 {
  font-size: 32px;
  line-height: 32px;
}
.gallery-view > section {
  display: flex;
}
.gallery-view > section > aside {
  max-width: 274px;
}
.gallery-view > section > aside > .input-container {
  position: relative;
  margin-bottom: 16px;
}
.gallery-view > section > aside > .input-container > input {
  width: 100%;
  background: #222222;
  border-radius: 8px;
  font-size: 14px;
  line-height: 14px;
  margin-top: 16px;
  padding: 14px 20px;
  color: #676767;
}
.gallery-view > section > aside > .input-container > button {
  background: #E73C83;
  border-radius: 8px;
  padding: 10px 21px 9px 21px;
  color: white;
  position: absolute;
  top: 20px;
  right: 8px;
}
.gallery-view > section > aside > button {
  width: 100%;
  background: #E73C83;
  border-radius: 8px;
  color: white;
  padding: 16px 0px;
  margin-top: 20px;
}
.gallery-view > section > aside > select {
  font-family: DungGeunMo;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: #E73C83 solid 1px;
  font-size: 16px;
  color: #E73C83;
  padding: 16px 0px;
  appearance: none;
}
.gallery-view > section > article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-left: 160px;
}
.follow-me-view {
  max-width: 1156px;
  margin: auto;
  margin-top: 60px;
}
.follow-me-view > header > h1 {
  font-size: 32px;
  line-height: 32px;
}
.follow-me-view > header > h2 {
  font-size: 18px;
  line-height: 20px;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 60px;
}
.follow-me-view > section > section > img {
  border-radius: 8px;
}
.follow-me-view > section > section > article > .content-container {
  display: flex;
}
.follow-me-view > section > section > article > .content-container > img {
  margin-right: 10px;
}
.holder-view {
  background-image: url("/images/view/home/club.png");
  height: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.holder-view > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.holder-view > section > img {
  width: 176px;
  height: 176px;
  border-radius: 8px;
  margin-bottom: 30px;
}
.holder-view > section > h1 {
  font-size: 42px;
  line-height: 42px;
  text-align: center;
}
.holder-view > section > .button-container {
  margin-top: 14px;
  text-align: center;
}
.holder-view > section > .button-container > a {
  font-size: 42px;
  line-height: 42px;
  padding: 35px;
}
.holder-view > section > .button-container > a:hover {
  color: #E73C83;
}
.buy-mate-view {
  background-image: url("/images/view/home/club.png");
  height: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.buy-mate-view > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buy-mate-view > section > img {
  width: 176px;
  height: 176px;
  border-radius: 8px;
  margin-bottom: 30px;
}
.buy-mate-view > section > h1 {
  font-size: 42px;
  line-height: 42px;
  text-align: center;
}
.buy-mate-view > section > button {
  margin-top: 20px;
  font-family: DungGeunMo;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
  background-color: #E73C83;
  border-radius: 8px;
  padding: 20px 100px;
}
.buy-mate-view > section > button:hover {
  background-color: #FFFFFF;
  color: #E73C83;
}
.my-mate-view {
  max-width: 1156px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.my-mate-view > header {
  margin-bottom: 30px;
}
.my-mate-view > header > h1 {
  font-size: 32px;
  margin-bottom: 20px;
}
.my-mate-view > header > h2 {
  color: #E73C83;
  font-size: 24px;
  line-height: 20px;
}
.my-mate-view > section > article > img {
  border-radius: 8px;
  margin-right: 20px;
}
.my-mate-view > section > hr {
  border: none;
  height: 1px;
  color: #2C2C2C;
  background-color: #2C2C2C;
  margin: 60px 0px;
}
.my-mate-view > section > .certification-container {
  background: #222222;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 30px;
}
.my-mate-view > section > .certification-container > h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.my-mate-view > section > .certification-container > p {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}
.my-mate-view > section > .certification-container > button {
  font-family: DungGeunMo;
  font-size: 16px;
  color: #E73C83;
  background-color: transparent;
  border: 1px solid #E73C83;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 18px 111px;
}
.my-mate-view > section > .certification-container > button:hover {
  background-color: white;
  border-color: white;
}
.activities-view {
  max-width: 1156px;
  margin: auto;
  margin-top: 60px;
}
.activities-view > header > h1 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px;
}
.activities-view > header > h2 {
  font-size: 18px;
}
.activities-view > section > .certification-container {
  background: #222222;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 30px;
  margin-top: 30px;
}
.activities-view > section > .certification-container > h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.activities-view > section > .certification-container > p {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}
.activities-view > section > .certification-container > button {
  font-family: DungGeunMo;
  font-size: 16px;
  color: #E73C83;
  background-color: transparent;
  border: 1px solid #E73C83;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 18px 111px;
}
.activities-view > section > .certification-container > button:hover {
  background-color: white;
  border-color: white;
}
.activities-view > section > hr {
  border: none;
  height: 1px;
  color: #2C2C2C;
  background-color: #2C2C2C;
  margin: 60px 0px;
}
.activities-view > section > article > img {
  width: 100%;
  height: 100%;
  max-height: 360px;
}
.activities-view > section > article > h2 {
  margin-top: 30px;
  font-size: 24px;
  line-height: 24px;
  color: #E73C83;
}
.activities-view > section > article > p {
  margin-top: 4px;
  font-size: 16px;
  line-height: 20px;
}
.activities-view > section > article > button {
  font-family: DungGeunMo;
  font-size: 16px;
  color: #E73C83;
  background-color: transparent;
  border: 1px solid #E73C83;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 14px 110px;
  margin-top: 20px;
}
.activities-view > section > article > button:hover {
  background-color: white;
  border-color: white;
}
.dsc-family-view {
  max-width: 1156px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.dsc-family-view > header > h1 {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 10px;
}
.dsc-family-view > header > h2 {
  font-size: 16px;
  line-height: 20px;
}
.dsc-family-view > section > hr {
  border: none;
  height: 1px;
  color: #2C2C2C;
  background-color: #2C2C2C;
  margin: 60px 0px;
}
.dsc-family-view > section > .input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.dsc-family-view > section > .input-container > label {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
}
.dsc-family-view > section > .input-container > input {
  font-family: DungGeunMo;
  background: #222222;
  border-radius: 8px;
  padding: 16px 0px 16px 20px;
  color: white;
  font-size: 20px;
  line-height: 20px;
}
.dsc-family-view > section > .channel-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.dsc-family-view > section > .channel-container > .input-container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.dsc-family-view > section > .channel-container > .input-container > label {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
}
.dsc-family-view > section > .channel-container > .input-container > input {
  font-family: DungGeunMo;
  background: #222222;
  border-radius: 8px;
  padding: 16px 0px 16px 20px;
  color: white;
  font-size: 20px;
  line-height: 20px;
}
.dsc-family-view > section > .introduction-container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 20px;
}
.dsc-family-view > section > .introduction-container > .input-container {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.dsc-family-view > section > .introduction-container > .input-container > label {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
}
.dsc-family-view > section > .introduction-container > .input-container > input {
  font-family: DungGeunMo;
  background: #222222;
  border-radius: 8px;
  padding: 16px 0px 16px 20px;
  color: white;
  font-size: 20px;
  line-height: 20px;
}
.dsc-family-view > section > .button-wrap {
  display: flex;
  justify-content: center;
}
.dsc-family-view > section > .button-wrap > button {
  max-width: 380px;
  margin-top: 30px;
  font-family: DungGeunMo;
  font-size: 16px;
  color: #E73C83;
  background-color: transparent;
  border: 1px solid #E73C83;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 18px 111px;
}
.dsc-family-view > section > .button-wrap > button:hover {
  background-color: white;
  border-color: white;
}
.fully-on-view {
  max-width: 1156px;
  margin: auto;
  margin-top: 60px;
}
.fully-on-view > header > h1 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px;
}
.fully-on-view > section > hr {
  border: none;
  height: 1px;
  color: #2C2C2C;
  background-color: #2C2C2C;
  margin: 60px 0px;
}
.fully-on-view > section > article > img {
  width: 100%;
  height: 100%;
  max-height: 360px;
}
.fully-on-view > section > article > h2 {
  margin-top: 30px;
  font-size: 24px;
  line-height: 24px;
  color: #E73C83;
}
.fully-on-view > section > article > p {
  margin-top: 4px;
  font-size: 16px;
  line-height: 20px;
}
.fully-on-view > section > article > button {
  font-family: DungGeunMo;
  font-size: 16px;
  color: #E73C83;
  background-color: transparent;
  border: 1px solid #E73C83;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 14px 110px;
  margin-top: 20px;
}
.fully-on-view > section > article > button:hover {
  background-color: white;
  border-color: white;
}
.fully-on-view > section > article > .mate-container {
  display: flex;
  flex-direction: column;
  background: #1F1F1F;
  border: 1px solid #2C2C2C;
  box-sizing: border-box;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.fully-on-view > section > article > .mate-container > img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}
.terms-view {
  max-width: 1156px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.terms-view > header > h1 {
  font-size: 32px;
  line-height: 32px;
}
.terms-view > article > h2 {
  margin-top: 34px;
  font-size: 24px;
  line-height: 24px;
}
.terms-view > article > p {
  font-size: 16px;
  line-height: 20px;
}
.terms-view > article > .caption {
  margin-top: 24px;
  font-size: 16px;
  line-height: 20px;
}
.contest-view {
  max-width: 1156px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.contest-view > header > h1 {
  font-size: 32px;
  line-height: 32px;
  margin-top: 60px;
  margin-bottom: 10px;
}
.contest-view > header > p {
  font-size: 16px;
  line-height: 20px;
}
.contest-view > header > .warning {
  font-size: 16px;
  line-height: 20px;
  color: #E73C83;
  margin: 20px 0px;
}
.contest-view > header > .button-wrap {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}
.contest-view > header > .button-wrap > button {
  font-family: DungGeunMo;
  font-size: 16px;
  background: #E73C83;
  color: white;
  border: 1px solid #E73C83;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 18px 111px;
}
.contest-view > header > .button-wrap > button:hover {
  color: #E73C83;
  background-color: white;
  border-color: white;
}
.contest-view > section > h2 {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 24px;
}
.contest-view > section > h3 {
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 20px;
}
.contest-view > section > hr {
  border: none;
  height: 1px;
  color: #2C2C2C;
  background-color: #2C2C2C;
  margin: 60px 0px;
}
.contest-view > section > table {
  min-width: 100%;
  margin: auto;
}
.contest-view > section > table > thead {
  background: #292929;
}
.contest-view > section > table > thead > tr > .id {
  max-width: 200px;
  padding: 24px 20px 24px;
  padding: 16px;
  font-size: 16px;
  border-radius: 10px 0px 0px 0px;
}
.contest-view > section > table > thead > tr > .action {
  max-width: 200px;
  padding: 24px 20px 24px;
  padding: 16px;
  font-size: 16px;
  border-radius: 10px 0px 0px 0px;
}
.contest-view > section > table > thead > tr > .votes {
  max-width: 200px;
  padding: 24px 20px 24px;
  padding: 16px;
  font-size: 16px;
}
.contest-view > section > table > thead > tr > .dogesound {
  padding: 24px 20px 24px;
  padding: 16px;
  font-size: 16px;
  border-radius: 0px 10px 0px 0px;
}
.contest-view > section > table > tbody {
  background: #222222;
  border-radius: 0px;
}
.contest-view > section > table > tbody > tr > .id {
  max-width: 200px;
  padding: 24px 20px 24px;
  padding: 16px;
  font-size: 16px;
  border-bottom: 1px solid #333333;
}
.contest-view > section > table > tbody > tr > .action {
  max-width: 200px;
  padding: 24px 20px 24px;
  padding: 16px;
  font-size: 16px;
  border-bottom: 1px solid #333333;
}
.contest-view > section > table > tbody > tr > .votes {
  max-width: 200px;
  padding: 24px 20px 24px;
  padding: 16px;
  font-size: 16px;
  border-bottom: 1px solid #333333;
}
.contest-view > section > table > tbody > tr > .opposition {
  max-width: 200px;
  padding: 24px 20px 24px;
  padding: 16px;
  font-size: 16px;
  color: #F75A5A;
  border-bottom: 1px solid #333333;
}
.contest-view > section > table > tbody > tr > .cancellation {
  max-width: 200px;
  padding: 24px 20px 24px;
  padding: 16px;
  font-size: 16px;
  color: #676767;
  border-bottom: 1px solid #333333;
}
.contest-view > section > table > tbody > tr > .cancellation-dogesound {
  padding: 24px 20px 24px;
  padding: 16px;
  font-size: 16px;
  color: #676767;
  border-bottom: 1px solid #333333;
}
.contest-view > section > table > tbody > tr > .dogesound {
  padding: 24px 20px 24px;
  padding: 16px;
  font-size: 16px;
  border-bottom: 1px solid #333333;
}
.contest-view > section > .pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.contest-view > section > .pagination > a {
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 9px 14px;
  margin: 5px;
}
.contest-view > section > .pagination > a:hover {
  border-color: #E73C83;
  color: #E73C83;
}
.contest-view > section > .status-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contest-view > section > .status-board > img {
  margin-top: 40px;
  margin-bottom: 30px;
}
.contest-view > section > .status-board > h3 {
  font-size: 24px;
  color: #E73C83;
}
.contest-view > section > .status-board > .caption {
  margin-top: 10px;
  font-size: 16px;
}
.contest-view > section > .status-board > p {
  margin: 30px;
}
.contest-view > section > .status-board > .submit-container > .input-container {
  margin-bottom: 12px;
}
.contest-view > section > .status-board > .submit-container > .input-container > input {
  min-width: 280px;
  border: 1px solid #676767;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: transparent;
  padding: 16px;
  margin-right: 14px;
}
.contest-view > section > .status-board > .submit-container > button {
  min-width: 280px;
  font-family: DungGeunMo;
  font-size: 16px;
  background: #E73C83;
  color: white;
  border: 1px solid #E73C83;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 18px 85px;
}
.contest-view > section > .status-board > .submit-container > button:hover {
  color: #E73C83;
  background-color: white;
  border-color: white;
}
.governance-view {
  max-width: 1156px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.governance-view > header {
  margin-top: 60px;
}
.governance-view > header > h1 {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 10px;
}
.governance-view > header > p {
  font-size: 16px;
  line-height: 20px;
}
.governance-view > header > .button-wrap {
  display: flex;
  margin-top: 30px;
}
.governance-view > header > .button-wrap > button {
  font-family: DungGeunMo;
  font-size: 16px;
  background: #E73C83;
  color: white;
  border: 1px solid #E73C83;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 18px 111px;
}
.governance-view > header > .button-wrap > button:hover {
  color: #E73C83;
  background-color: white;
  border-color: white;
}
.governance-view > section > hr {
  border: none;
  height: 1px;
  color: #2C2C2C;
  background-color: #2C2C2C;
  margin: 60px 0px;
}
.governance-view > section > h2 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 24px;
}
.governance-view > section > table {
  min-width: 100%;
  margin: auto;
}
.governance-view > section > table > thead {
  background: #292929;
}
.governance-view > section > table > thead > tr > .proposal {
  max-width: 200px;
  padding: 24px 20px 24px;
  padding: 16px;
  font-size: 16px;
  border-radius: 10px 0px 0px 0px;
}
.governance-view > section > table > thead > tr > .dogesound {
  padding: 24px 20px 24px;
  padding: 16px;
  font-size: 16px;
  border-radius: 0px 10px 0px 0px;
}
.governance-view > section > table > tbody {
  background: #222222;
  border-radius: 0px;
}
.governance-view > section > table > tbody > tr > .agreement {
  max-width: 200px;
  padding: 24px 20px 24px;
  padding: 16px;
  font-size: 16px;
  color: #56F545;
  border-bottom: 1px solid #333333;
}
.governance-view > section > table > tbody > tr > .opposition {
  max-width: 200px;
  padding: 24px 20px 24px;
  padding: 16px;
  font-size: 16px;
  color: #F75A5A;
  border-bottom: 1px solid #333333;
}
.governance-view > section > table > tbody > tr > .cancellation {
  max-width: 200px;
  padding: 24px 20px 24px;
  padding: 16px;
  font-size: 16px;
  color: #676767;
  border-bottom: 1px solid #333333;
}
.governance-view > section > table > tbody > tr > .cancellation-dogesound {
  padding: 24px 20px 24px;
  padding: 16px;
  font-size: 16px;
  color: #676767;
  border-bottom: 1px solid #333333;
}
.governance-view > section > table > tbody > tr > .dogesound {
  padding: 24px 20px 24px;
  padding: 16px;
  font-size: 16px;
  border-bottom: 1px solid #333333;
}
.governance-view > section > .pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.governance-view > section > .pagination > a {
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 9px 14px;
  margin: 5px;
}
.governance-view > section > .pagination > a:hover {
  border-color: #E73C83;
  color: #E73C83;
}
.governance-view > section > .status-board > header > h2 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 24px;
}
.create-governance-view {
  max-width: 1156px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.create-governance-view > header {
  margin-top: 60px;
}
.create-governance-view > header > h1 {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 10px;
}
.create-governance-view > section > hr {
  border: none;
  height: 1px;
  color: #2C2C2C;
  background-color: #2C2C2C;
  margin: 60px 0px;
}
.create-governance-view > section > .input-container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.create-governance-view > section > .input-container > label {
  font-size: 18px;
  margin-bottom: 10px;
}
.create-governance-view > section > .input-container > input {
  font-family: Dunggeunmo;
  background: #222222;
  border-radius: 8px;
  font-size: 20px;
  color: #676767;
  padding: 16px 20px;
}
.create-governance-view > section > .input-container input::placeholder {
  text-align: left;
}
.create-governance-view > section > .input-container > .summary {
  text-align: left;
  min-height: 124px;
}
.create-governance-view > section > .input-container > .text {
  height: 180px;
}
.create-governance-view > section > .proposer-container > h3 {
  font-size: 24px;
  color: #E73C83;
}
.create-governance-view > section > .proposer-container > .address {
  font-size: 18px;
  margin-top: 6px;
  margin-bottom: 10px;
}
.create-governance-view > section > .mate-container > h3 {
  font-size: 24px;
}
.create-governance-view > section > .mate-container > .checkbox-container {
  display: flex;
  margin-top: 20px;
}
.create-governance-view > section > .mate-container > .checkbox-container > label {
  padding-left: 9px;
  font-size: 16px;
}
.create-governance-view > section > .mate-container > .checkbox-container > input {
  background: #E73C83;
}
.create-governance-view > section > .checkbox-container {
  display: flex;
}
.create-governance-view > section > .checkbox-container > label {
  padding-left: 13px;
  color: #676767;
  font-size: 16px;
}
.create-governance-view > section > .submit-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.create-governance-view > section > .submit-container > .checkbox-container > label {
  margin: 10px;
  font-size: 16px;
}
.create-governance-view > section > .button-wrap {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.create-governance-view > section > .button-wrap > button {
  font-size: 20px;
  font-family: Dunggeunmo;
  background: #E73C83;
  border-radius: 8px;
  color: white;
  padding: 16px 170px;
}
.create-governance-view > section > .button-wrap > button:hover {
  color: #E73C83;
  background: white;
}
.governance-detail-view {
  max-width: 1156px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.governance-detail-view > header {
  margin-top: 60px;
}
.governance-detail-view > header > h1 {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 10px;
}
.governance-detail-view > hr {
  border: none;
  height: 1px;
  color: #2C2C2C;
  background-color: #2C2C2C;
  margin: 60px 0px;
}
.governance-detail-view > section > article {
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 8px;
}
.governance-detail-view > section > article > hr {
  border: none;
  height: 1px;
  color: #2C2C2C;
  background-color: #2C2C2C;
}
.governance-detail-view > section > article > header {
  padding: 30px;
}
.governance-detail-view > section > article > header > h2 {
  font-size: 20px;
}
.governance-detail-view > section > article > header > p {
  font-size: 14px;
}
.governance-detail-view > section > article > header > .caption-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.governance-detail-view > section > article > header > .caption-container > .status {
  font-size: 12px;
  color: #56F545;
  background: #222222;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 9px 20px;
}
.governance-detail-view > section > article > header > .caption-container > p {
  margin-left: 20px;
}
.governance-detail-view > section > article > .content {
  padding: 30px;
}
.governance-detail-view > section > article > .content > .tool-container > h3 {
  font-size: 16px;
  margin-bottom: 10px;
}
.governance-detail-view > section > article > .content > .tool-container > p {
  font-size: 16px;
}
.governance-detail-view > section > article > .content > .body-container {
  margin-top: 30px;
}
.governance-detail-view > section > article > .content > .body-container > h3 {
  font-size: 16px;
  margin-bottom: 10px;
}
.governance-detail-view > section > article > .content > .remarks {
  margin-top: 30px;
}
.governance-detail-view > section > hr {
  border: none;
  height: 1px;
  color: #2C2C2C;
  background-color: #2C2C2C;
  margin: 60px 0px;
}
.governance-detail-view > section > .proposer-container > h3 {
  font-size: 24px;
  color: #E73C83;
}
.governance-detail-view > section > .proposer-container > .address {
  font-size: 18px;
  margin-top: 6px;
  margin-bottom: 10px;
}
.governance-detail-view > section > .mate-container > h3 {
  font-size: 24px;
}
.governance-detail-view > section > .mate-container > .checkbox-container {
  display: flex;
  margin-top: 20px;
}
.governance-detail-view > section > .mate-container > .checkbox-container > label {
  padding-left: 9px;
  font-size: 16px;
}
.governance-detail-view > section > .mate-container > .checkbox-container > input {
  background: #E73C83;
}
.governance-detail-view > section > .checkbox-container {
  display: flex;
}
.governance-detail-view > section > .checkbox-container > label {
  padding-left: 13px;
  color: #676767;
  font-size: 16px;
}
.governance-detail-view > section > .submit-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.governance-detail-view > section > .submit-container > .checkbox-container > label {
  margin: 10px;
  font-size: 16px;
}
.governance-detail-view > section > .button-wrap {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.governance-detail-view > section > .button-wrap > button {
  font-size: 20px;
  font-family: Dunggeunmo;
  background: #E73C83;
  border-radius: 8px;
  color: white;
  padding: 16px 170px;
}
.governance-detail-view > section > .button-wrap > button:hover {
  color: #E73C83;
  background: white;
}
.mates-view {
  max-width: 1156px;
  margin: auto;
  margin-top: 60px;
}
.mates-view > header > h1 {
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 30px;
}
.mates-view > header > h2 {
  font-size: 24px;
  line-height: 24px;
  color: #E73C83;
  margin-top: 30px;
  margin-bottom: 4px;
}
.mates-view > header > img {
  font-size: 24px;
  line-height: 24px;
  color: #E73C83;
  border-radius: 8px;
}
.mates-view > header > p {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.mates-view > section > hr {
  border: none;
  height: 1px;
  color: #2C2C2C;
  background-color: #2C2C2C;
  margin: 60px 0px;
}
.mates-view > section > article > img {
  width: 100%;
  height: 100%;
  max-height: 360px;
}
.mates-view > section > article > h2 {
  margin-top: 30px;
  font-size: 24px;
  line-height: 24px;
  color: #E73C83;
}
.mates-view > section > article > p {
  margin-top: 4px;
  font-size: 16px;
  line-height: 20px;
}
.mates-view > section > .button-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mates-view > section > .button-wrap > button {
  font-family: DungGeunMo;
  font-size: 16px;
  color: white;
  background-color: #E73C83;
  border: 1px solid #E73C83;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 14px 110px;
  margin-top: 20px;
}
.mates-view > section > .button-wrap > button:hover {
  background-color: white;
  border-color: white;
}
.faq-view {
  max-width: 1156px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.faq-view > header h1 {
  font-size: 32px;
  line-height: 32px;
  margin-top: 60px;
  margin-bottom: 30px;
}
.faq-view > section > .collapsible {
  color: white;
  cursor: pointer;
  background: #131313;
  padding: 24px 0px;
  width: 100%;
  text-align: left;
  font-family: Dunggeunmo;
  font-size: 20px;
  line-height: 20px;
  border-top: 1px solid #2C2C2C;
  border-bottom: 1px solid #2C2C2C;
}
.faq-view > section > .active,
.faq-view > section .collapsible:hover {
  color: #E73C83;
}
.faq-view > section > .content {
  padding: 30px 20px;
  background: #1F1F1F;
  border: 1px solid #2C2C2C;
  box-sizing: border-box;
}
.member-view {
  max-width: 1156px;
  margin: auto;
  margin-top: 60px;
}
.member-view > header > h1 {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px;
}
.member-view > section > hr {
  border: none;
  height: 1px;
  color: #2C2C2C;
  background-color: #2C2C2C;
  margin: 60px 0px;
}
.member-view > section > article > p {
  margin-top: 4px;
  font-size: 16px;
  line-height: 20px;
}

