.synthesis-preparation-view {
    background     : url("/images/view/bmcs/home/bg-overlay.png") center no-repeat;
    background-size: cover;
    padding        : 96px 0px;

    @media @phone {
        padding: 8px;
    }

    >section {
        width     : 100%;
        max-width : 1156px;
        margin    : auto;
        width     : 100%;
        background: rgba(19, 19, 19, 0.6);
        border    : 1px solid #FFDF13;
        box-sizing: border-box;
        padding   : 40px 196px;

        @media @phone {
            padding: 40px 0px;
        }

        >h2 {
            text-align   : left;
            font-weight  : 400;
            font-size    : 18px;
            line-height  : 18px;
            margin-bottom: 16px;
        }

        >hr {
            height    : 1px;
            border    : 0;
            background: #F9D833;
            margin    : 40px 0px;
        }

        >.mate-container {
            display   : flex;
            gap       : 20px;
            min-height: 140px;
        }

        >.card-container {
            display   : flex;
            gap       : 20px;
            min-height: 300px;
            overflow  : auto;
        }

        >.button-wrap {
            display        : flex;
            justify-content: center;

            >a {
                display      : block;
                text-align   : center;
                padding      : 16px 0px;
                max-width    : 480px;
                width        : 100%;
                font-weight  : 400;
                font-size    : 16px;
                line-height  : 16px;
                color        : #131313;
                background   : #FFDF13;
                border-radius: 8px;
            }
        }
    }
}